[Desktop Entry]
Type=Application
Name=Smart-SIP-Phone-Hybrid
GenericName=Smart-SIP-Phone-Hybrid
Comment=The next-generation SIP client by EDNT
Comment[de]=Der SIP Client der nächsten Generation von EDNT
Exec=smart-sip-phone-launch
Icon=de.ednt.SmartSIPPhone
Terminal=false
Categories=Network;Telephony;
Keywords=sip;voip;phone;telephony;softphone;
StartupNotify=true
Actions=ResetSettings;

[Desktop Action ResetSettings]
Name=Reset Application
Name[de]=Anwendung zurücksetzen
Exec=smart-sip-phone-launch -d
